.vscode/**
.vscode-test/**
src/**
preview/**
node_modules/**
out/**
!out/extension.js
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.*.json
**/.eslintrc*
**/esbuild.js
**/*.vsix
.gitignore
.vscodeignore
package-lock.json
**/*.md
!README.md
!LICENSE
.git/**
.playwright-mcp/**
**/.DS_Store
